{{>header}}

<div class="trans w-100 d-flex flex-column justify-content-center align-items-center">
    <img src="https://fakeimg.pl/1600x600/?text=" class="d-block w-100" alt="">
    <div class="position-absolute d-none d-md-block trans theme-color p-5">
        {{# about.headline}}
        <h1 class="font-weight-bold">{{text}}</h1>
        {{/ about.headline}}
    </div>
    <div class="d-block d-md-none theme-color text-center p-4">
        {{# about.headline}}
        <h3 class="font-weight-bold">{{text}}</h3>
        {{/ about.headline}}
    </div>
</div>

{{>about}}

<hr class="dotted">

<div id="gallery" class="my-5">
    <div class="container theme-color">
        <h1 class="text-center py-5 font-weight-bold">{{about.gallery.title}}</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {{# about.gallery.content}}
            <div class="col my-3">
                <a href="#" data-toggle="modal" data-target="#{{id}}">
                    <img src="{{url}}" class="w-100" alt="{{discription}}">
                </a>
            </div>
            {{/ about.gallery.content}}

        </div>
    </div>


</div>


{{!-- modal --}}
{{# about.gallery.content}}
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="img">
        <div class="modal-body text-center px-0">
            <img src="{{url}}" class="w-100" alt="{{discription}}">
        </div>
    </div>
</div>
{{/ about.gallery.content}}
{{>footer}}