<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LK Law Firm</title>

    <link rel="shortcut icon" href="\img\icon.ico" type="image/x-icon">

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "http://www.lklawfirm.ca",
        "logo": "http://www.lklawfirm.ca/img/sz-logo-trans.png"
        }
    </script>

    {{!-- bootstrap css --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

    {{!-- google font --}}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Niconne&display=swap" rel="stylesheet">

    {{!-- style file --}}
    <link rel="stylesheet" href="/css/styles.css">

    {{!-- font awesome --}}
    <script src="https://kit.fontawesome.com/4f89a3253f.js" crossorigin="anonymous"></script>

    {{!-- bootstrap js --}}
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <meta name="keywords" content="LK Law Firm" />
    <meta name="description" content="" />

</head>

<body>

    {{!-- navbar --}}
    <div id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light flex-column flex-lg-row">
            {{!-- 中屏以上显示 --}}
            <div class="d-none d-md-block">
                <a class="navbar-brand font-weight-normal mx-0" href="/">
                    <img src="/img/icon.png" height="70" width="80" class="d-inline-block align-top" alt="">
                    <span class="theme-color">LK LAW FIRM</span>
                </a>
            </div>
            <div class="d-none d-md-block">
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            {{!-- 小屏显示 --}}
            <div class="d-block d-md-none text-center mx-auto">
                <a class="navbar-brand font-weight-normal mx-0" href="/">
                    <img src="/img/icon.png" height="70" width="80" class="d-inline-block align-top" alt="">
                    <span class="theme-color d-block">LK LAW FIRM</span>
                </a>
            </div>
            <div class="d-block d-md-none text-center mx-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav d-inline-block d-lg-flex">
                    {{!-- <ul class="navbar-nav d-block d-lg-flex"> --}}
                    <li class="nav-item">
                        <a class="nav-link" href="/">{{header.home}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">{{header.about}}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{header.services.name}}
                        </a>
                        <div class="dropdown-menu theme-color" aria-labelledby="navbarDropdownMenuLink">
                            {{# header.services.dropdown}}
                            <a class="dropdown-item" href="{{url}}">{{item}}</a>
                            {{/ header.services.dropdown}}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/questions">{{header.questions}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">{{header.contact}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-inline-block pr-0" href="?lang=en">EN</a>
                        <span class="nav-link d-inline-block px-0">/</span>
                        <a class="nav-link d-inline-block pl-0" href="?lang=zh">中</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="content">